useDynLib(VariABEL)


export(
#	var.meta.gwaa,
	var_test_gwaa#,
	#test_databel
       )

importFrom("methods", "is")
importFrom("stats", "lm", "model.matrix")
importFrom("utils", "read.table")


